.qb-entry {
  border-top: 1px solid #8c8c8c;
  margin-top: 15px;
  padding-top: 15px;
}

.qb-pic {
  height: 50px;
  width: 50px;
  float: left;
}

.qb-inner {
  margin-left: 65px;
}

.qb-body {}

.qb-date {
  color: #a6a6a6;
}

.qb-name {
  color: #1b6d85;
}